# Lines that start with '#' are comments.
*.[oa]
*.pyc
*.cmake
*.tmp
*~
*.deps*
*.dirstamp*
CMakeCache.txt
tags
Makefile
/bin*
/CMakeFiles
/data
/Testing
dvg_test
/libs/*
/tests/CMakeFiles
/tests/Testing
